/* DARK MODE PALLET
Background Color: #343434 (Dark Gray)
Text Color: #ffffff (Off-White)
Accent Color: #91b8ff (Sky Blue)
Secondary Accent Color: #ff4da6 (Bright Pink)
Borders and Dividers: #d3d3d3 (Light Gray)
Feedback and Validation:
Success: #2ecc71 (Green)
   Warning/Attention: #e67e22 (Orange)
   Error: #e74c3c (Red)
   Links: #b3b3b3 (Light Gray)
Selection Color: #2c3e50 (Dark Blue) 
*/

* {
   background-color:#343434;
}

#backgroundBorder {
   background-color:#343434;
}

#addressBar {
   background-color: #343434; 
   border-color: #d3d3d3;
   border-width: 2px;
   color: white;  
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: bold;
}

#addressBar:focus {
   border-color:#91b8ff;
   background-color: #343434;
   outline-color: #91b8ff;
}

#searchBar {
   background-color: #343434; 
   border-color: #d3d3d3;
   border-width: 2px;
   color: white;  
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: bold;
}

#fileListBox {
   background-color: #343434;
   border-color: #343434;
   box-shadow: none;
}

#fileButtons {
   box-shadow: none;
   background-image: url("C:\Coding\Projects\C\Nest\code\styles\DarkMode_BgColour.png");
   background-color: #343434;
   color: #ffffff;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: bold;
   text-shadow: none;
}

#fileHeaders {
   box-shadow: none;
   background-image: url("C:\Coding\Projects\C\Nest\code\styles\DarkMode_BgColour.png");
   background-color: #343434;
   color: #91b8ff;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: bold;
   text-shadow: none;
}

#fileSizeLabel {
   background-color: #343434;
   color: #ffffff;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: bold;
   text-shadow: none;
}

#fileButtons:hover {
   box-shadow: none;
   color: #91b8ff;
}

#mainTipsbar {
   color: #ffffff;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: bold;
}
